body {
    font-family: 'Barlow', sans-serif;
}

main {
    padding-top: 12vh;
    // padding: 4vh 5vw;
    overflow: hidden;
    @include font18;
}

.home {
    // background: $secondary-light-gray;
    overflow: hidden;
    margin-right: -50vw;
    padding-left: 7vw;
    // z-index: 20;
    p {
        font-size: 13.84px;
        // color: $gray-blue;
    }
    &-left {
        p {
            color: $gray-blue;
            span {
                color: $light-gray-blue;
                display: inline-block;
                padding: .3rem 1.0rem;
                border-radius: 50px;
                margin-right: 0.5vw;
                background: $dark-blue;
                font-weight: 500;
            }
        }
        .container {
            margin-top: 10vh;
            display: flex;
            p {
                font-size: 18px;
                margin: 0.5rem 0;
                color: $gray-blue;
                // align-self: m;
            }
            .primary-button {
                display: inline-block;
                padding: .5rem 1.0rem;
                border-radius: 5px;
                margin-right: 2vw;
                background: $primary-red;
                font-weight: 500;
                a {
                    color: $light-gray-blue;
                }
            }
        }
        margin-top: 5vh;
        align-items: center;
        // width: 20% !important;
        // padding: 40vh 0;
        h1 {
            padding: 2vh 0;
            line-height: 1.1;
            font-weight: 700;
            // width: 50%;
        }
    }
    &-right {
        // background: url("../../images/bg-intro-desktop.svg") !important;
    }
}

footer {
    padding-top: 5vh;
}