body {
    // @include font18;
    // color: $secondary-light-gray !important;
    // color: #F3F4F6;
}

main {
    padding-top: 12vh;
    // padding: 4vh 5vw;
    overflow: hidden;
    @include font18;
}

.home {
    // background: $secondary-light-gray;
    overflow: hidden;
    margin-right: -60vw;
    padding-left: 7vw;
    // z-index: 20;
    p {
        font-size: 13.84px;
        // color: $gray-blue;
    }
    &-left {
        margin-top: 5vh;
        align-items: center;
        // width: 20% !important;
        // padding: 40vh 0;
        h1 {
            line-height: 1.1;
            font-weight: 700;
            // width: 50%;
        }
    }
    &-right {
        background: url("../../images/bg-intro-desktop.svg") !important;
    }
}

.primary-button {
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    // background: linear-gradient(225deg, $bright-cyan, $lime-green);
    font-weight: 500;
    a {
        // color: $white;
    }
}

footer {
    padding-top: 5vh;
}