    @include media-sm {
        .menu-btn {
            visibility: hidden;
            // width: 80% !important;
            // &__burger {
            //     top: 1.9rem !important;
            // }
        }
        .nav {
            visibility: visible;
            .menu-nav {
                display: block;
                transform: translateY(0);
                height: 100%;
                background: transparent;
                text-align: center;
                &__item {
                    display: inline;
                    padding-right: 1.5rem;
                }
                &__link {
                    font-size: 1.5rem;
                }
            }
            // }
        }
    }
    
    @include small-only {
        main {
            padding-top: 0vh !important;
        }
        .home {
            margin-right: -60vw !important;
            padding-left: 0 !important;
            z-index: 20;
            padding-top: 20vh !important;
            p {
                font-size: 13.84px;
                // color: $gray-blue;
            }
            &-left {
                // align-items: center;
                padding: 10vh 7vw !important;
                // width: 70% !important;
                margin-top: 25vh !important;
                h1 {
                    //    line-height: 1.1;
                    width: 50% !important;
                }
                .container {
                    display: flex;
                }
            }
            &-right {
                margin-right: -60vw !important;
                margin-top: -85vh !important;
                // padding-right: -20vw;
                // background: url("../../images/bg-intro-desktop.svg") !important;
            }
        }
        .blog {
            margin-top: 0 !important;
            // padding: 0 0 10vh 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        article {
            padding: 10vh 2vw !important;
        }
    }